{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
                        <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                    {% elseif is_granted('ROLE_STUDENT') %}
                        <a href="{{ path('project_edit_for_student', {'id': project.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        <a href="{{ path('project_new') }}">Create new</a>
    {% endif %}
{% endblock %}
